extends layout

block content

    h3 Create Story
    form(id='storyForm', method='POST', action='/create').storyForm
        .form-group
            label(for='title') Title
            input#title.form-control(type='text', placeholder='Enter Title').titleInput
        .form-group
            label(for='content') Story
            textarea.form-control(rows='10')
        .form-group
            button.btn.btn-primary(type='submit', id='enter') Create