doctype
html
    head
        title Story Time
        link(link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    body
        h1 Story Time
        nav
            a(href='/')#current Home
            a(href='/login') Login
            a(href='/register') Sign Up
        block content
