doctype
html
    head
        - var title = title || "Story Time"
        title #{title}
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel='stylesheet' href='/styles/style.css' type='text/css')
        link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Arvo' type='text/css')
        link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oswald' type='text/css')
    body
        h1.storyTitle Story Time
        nav.navbar.navbar-default.navbar-static-top
            ul.nav.navbar-nav
                li
                    a(href='/') Home
                li
                    a(href='/create') Create Story
                    
                if user                
                    li
                        a(href='/logout') Logout
                else
                    li
                        a(href='/register') Sign Up
                    li
                        a(href='/login') Login
        block content
        block foot
            #footer
                p.footer-text Copyright &#169; Story Time 2015
