extends layout

block content

    h3 Login
    form.loginForm
      .form-group
        label(for='userName') Username:
        input#userName.form-control(type='text', placeholder='Username')
      .form-group
        label(for='password') Password
        input#password.form-control(type='password', placeholder='Password')
      .checkbox
        label
          input(type='checkbox')
          |  Remember Me
      button.btn.btn-primary(type='submit') Login