extends layout

block content

    h3 Create Account
    form(id='createAccount', method='POST')
        .form-group
            label(for='userName') Username
            input#userName.form-control(type='text', placeholder='Username')
        .form-group
            label(for='email') Email address
            input#email.form-control(type='email', placeholder='Email')
        .form-group
            label(for='password') Password
            input#password.form-control(type='password', placeholder='Password')
        button.btn.btn-default(type='submit') Create Account