extends layout

block content

    h1 
        h3 This is the story page, a specific story will be shown here.
        
        
    button(class="btn", data-action="bea", onclick="location.href='story';") Add To
    