html {
    background-color: #cfd8dc;
    min-width: 800px;
    text-align: center;

}
body {
    background-color: #cfd8dc;
}
.navbar-default {
    background-color: #424F5A;
}
.navbar-default .navbar-nav > li > a {
    color: #ddd;
}.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #39424D;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-nav {
    text-align: center;
}
.storyHome {
    text-align: center;
    margin: auto;
    width: 60%;
}
.loginForm {
    min-width: 200px;
    width: 15%;
    margin: auto;
}
.register {
    min-width: 200px;
    width: 15%;
    margin: auto;
}
.storyForm {
    min-width: 200px;
    width: 25%;
    margin: auto;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-nav {
    text-align: center;
    
}
.storyHome {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.storyTitle {
    font-family: 'Oswald';
}
.storyBody {
    font-family: 'Arvo';
}
.home {
    font-size: 16px;
}
.storyContent {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Arvo';
}
.addButton {
    margin: 5px;
}
.finishButton {
    margin: 5px;
}
.btn {
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 0;
    background-color: #3f51b5;
}
.btn:hover {
    background-color: #1a237e;
}
.finishedStory {
    font-size: 15pt;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-text {
    position: relative;
    top: 25px;
    font-family: 'Arvo';
    font-size: 15px;
}
#footer {
    color: #fff;
    height: 70px;
    background-color: #424F5A;
    margin-top: 25px;
}